*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-padding{
    padding: 50px 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.title{
    font-size: 50px;
    text-align: center;
}
.text{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.image{
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
    color: red;
}